@page
@model Lab12.Pages.AboutModel
@{
    ViewData["Title"] = "Om sidan";
}
<h1>Om sidan</h1>

<p><span class="bold">Jag som skapat sidan heter: </span>Lena Tibbling</p>
<p><span class="bold">Datum då sidan är skapad: </span>2021-01-24</p>
<p><span class="bold">Nuvarande utbildning: </span>Webbutvecklingsprogrammet på Mittuniversitetet</p>
<p><span class="bold">Här bor jag: </span>Hallstahammar</p>
<p><span class="bold">Min ålder: </span>38år</p>
<p><span class="bold">Mina fritidsintressen: </span>Odla grönsaker, inredning, fotografering och gaming</p>
<p><span class="bold">Min favoritfärg: </span>Blå</p>
<p><span class="bold">Min favoritårstid: </span>Sommaren</p>
<p><span class="bold">Jag är född på en: </span>Lördag</p>


